@font-face {
  font-family: "iconfont"; /* Project id 4383692 */
  src: url('iconfont.woff2?t=1703161697644') format('woff2'),
       url('iconfont.woff?t=1703161697644') format('woff'),
       url('iconfont.ttf?t=1703161697644') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test5:before {
  content: "\e63c";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-browse:before {
  content: "\e666";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-customer-service:before {
  content: "\e66a";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-email:before {
  content: "\e670";
}

.icon-hide:before {
  content: "\e673";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-top-filling:before {
  content: "\e68b";
}

.icon-weixin:before {
  content: "\e607";
}

